{% extends "virgo/base.html" %}

{% block content %}
<h1>{{ title }}</h1>
{% if errors %}
    <div class="alert alert-danger">
        <strong>Error:</strong><br/>
        {{ errors }}
    </div>
{% endif %}
<div class="md-raised-6px">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Daily</th>
                <th>Intra-Day</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in data %}
                <tr>
                    <td>{{ entry.symbol }}</td>
                    <td>{{ entry.daily.date }}</td>
                    <td>{{ entry.intraday.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
